//✿ ☻ ■ ▲ ♬ ♨ ★

$color-white:#fff;
$color-black:#000;

$color-grey-light-1:#faf9f9;
$color-grey-light-2:#f4f2f2;
$color-grey-light-3:#f0eeee;
$color-grey-light-4:#ccc;

$color-grey-dark-1:#333;
$color-grey-dark-2:#777;
$color-grey-dark-3:#999;

$default-font-size:1.3rem;
$shadow-dark:0 2rem 6rem rgba(0,0,0,.3);
$shadow-light:0 0 .4rem rgba(0, 0, 0, 0.12), 0 .2rem .2rem rgba(0, 0, 0, 0.08);
$line: 1px solid $color-grey-light-3;

$bp-largest: 75em;   //1200px
$bp-large: 68.75em;  //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px



* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;

    @media only screen and (max-width: $bp-medium){
        display: none;
    }
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba($color-primary,.3);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);

    &:hover{
        cursor: pointer;
        background-color: rgba($color-primary,.5);
    }

    @media only screen and (max-width: $bp-medium){
        display: none;
    }
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @media only screen and (max-width: $bp-small){
        font-size: 50%; //1rem = 8px
    }
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.icon {
    width: 10rem;
    height: 10rem;
    vertical-align: -0.15em;
    fill: $color-primary;
    overflow: hidden;

    &__small{
        width: $default-font-size*2;
        height: $default-font-size*2;
        margin-right: 2rem;
    }
}