// $color-primary-light:#7ed56f;
// $color-primary:#55c57a;
// $color-primary-dark:#28b485;

$color-primary-light:#f9ecdf;
$color-primary:#deab90;
$color-primary-dark:#ae7f6c;

$color-pink-light:#ffe5d8;
$color-pink:#ffcad4;

$color-brown-light: #f9ecdf;
$color-brown:#deab90;
$color-brown-dark:#ae7f6c;

$color-secondary-light:#ffb900;
$color-secondary:#ffbf35;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#a5e8ec;
$color-tertiary:#50b8ee;
$color-tertiary-dark:#2998ff;

.u-margin-bottom-small{
    margin-bottom: 2rem;
}